{% extends 'contas/base.html' %}
{% load bootstrap %}
{% block title %}Adicionar um post{% endblock %}

{% block content %}

<div  class="container-fluid">
    <ul class="list-group">
        {% for transacao in transacoes %}
        <li><a href="{% url 'url_update' transacao.id %}">{{ transacao.descricao }} - {{ transacao.data }} {{ transacao.valor }} - {{ transacao.categoria }}</a></li>
        {% endfor %}
    </ul>


</div>

<div class="col-md-3">
    <a href="{% url 'url_nova' %}" class="btn btn-primary pull-right h2">Novo Item</a>
</div>


<div id="main" class="container-fluid">

    <div id="list" class="row">

        <div class="table-responsive col-md-">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Categoria</th>
                    <th class="actions">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for transacao in transacoes %}
                <tr>
                    <td>1</td>
                    <td>{{ transacao.descricao }}</td>
                    <td>{{ transacao.data }}</td>
                    <td>{{ transacao.valor }}</td>
                    <td>{{ transacao.categoria }}</td>

                    <td class="actions">
                        <a class="btn btn-primary btn-xs" href="{% url 'url_nova' %}">Novo Item</a>
                        <a class="btn btn-success btn-xs" href="">Visualizar</a>
                        <a class="btn btn-warning btn-xs" href="{% url 'url_update' transacao.id %}">Editar</a>
                        <a class="btn btn-danger btn-xs" href="{% url 'url_delete' transacao.id %}" data-toggle="modal"
                           data-target="#delete-modal">Excluir</a>
                    </td>
                    {% endfor %}
                </tr>

                </tbody>
            </table>

        </div>
    </div> <!-- /#list -->
</div>



{% endblock %}