{% extends 'contas/base.html' %}
{% load bootstrap %}
{% block title %}Projeto{% endblock %}

{% block content %}
<style>
    body{
        color: white;
        font-weight: bold;
        background-image: url('../static/img/imagem.jpg');
        background-attachment:fixed;
        background-size:100%;
        brackground-repeat:no-repeat;

    }
    h2{
        background-color:#428bca
    }



 </style>
    <div class="container mt-4">
    <form action="submit"  method="POST">{% csrf_token %}
        <div class="row" >
            <div class="col-4" >
                <h2 class="text-center">Controle de Gastos</h2>
                <div class="form-group">
                    <label for="username" style="color:#428bca">Usuário:</label>
                    <input type="username" class="form-control" id="username" placeholder="E-mail" name="username"
                           size="10">
                </div>
                <div class="form-group">
                    <label for="pwd" style="color:#428bca">Senha:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Senha" name="password">
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}

                {% endif %}
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}